<article class="med">
  <h1>The Rules</h1>

  <ol>
    <li>La quiniela tiene un costo de $200 pesos por persona.</li>
    <li>La bolsa se reparte 75% al ganador, 15% al segundo lugar y 10% al tercero.</li>
    <li>Si hay empates, se divide la bolsa correspondiente.</li>
    <li>Se pueden agregar/cambiar las apuestas hasta el momento que empieza cada partido.</li>
    <li>Se otorga 1 punto por atinarle al número de goles de cada equipo (2 máximo por partido).</li>
    <li>Se otorgan 2 puntos por atinarle al equipo ganador o al empate.</li>
    <li>Se otorga 1 punto por atinarle a la diferencia de goles.</li>
    <li>Máximo número de puntos por partido es 5.</li>
  </ol>
</article>
