<h1>Bets#index</h1>
<p>Find me in app/views/bets/index.html.erb</p>

<% if @match_pool %>
<%= form_for :bets, url: match_pool_bets_path(@match_pool) do |f| %>
  <%= f.button 'Editar Mis Apuestas' %>
<% end %>
<% end %>
