<article class="">
  <h1><%= @match_pool.name %></h1>
  <h3>Apuestas de <%= @user.name %></h3>

  <%= render 'match_pools/scoreboard', user: @user if @scoreboard %>
  <%= render 'matches/all' %>

</article>
