<article class="small">
  <h1>Quinielas</h1>

  <% if @match_pools.size > 0 %>

  <ul>
    <% @match_pools.each do |q| %>
    <li><%= link_to q.name, q, class: 'btn btn-big' %></li>
    <% end %>
  </ul>

  <% if current_user.admin? %>
  <p class="divider">
    <span>รณ</span>
  </p>
  <% end %>

  <% end %>

  <% if current_user.admin? %>
  <%= link_to 'Crear Nueva Quiniela', new_match_pool_path, role: 'button' %>
  <% end %>
</article>
