<h1>Quinielas</h1>

<% @match_pools.each do |q| %>
<div class="quiniela">
  <h2><%= q.name %></h2>
  <nav>
    <%= link_to 'Ver', q %>
  </nav>
</div>
<% end %>

<%= link_to 'Crear Quiniela', new_match_pool_path %>
