article {
  padding: 1em;
  text-align: center;
  margin: 0 auto;

  &.small {
    max-width: 32em;
  }

  &.med {
    max-width: 48em;
  }

  h1 {
    font-size: 2.5em;
    color: lighten($color-fg, 20%);
  }
}
