header {
  text-align: center;
  background: darken($color-bg, 10%);

  font-size: 2em;
  font-family: $font-titles;
  line-height: 1;

  a {
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    position: relative;

    color: lighten($color-bg, 20%);

    transition: 0.2s ease all;

    &:hover, &:focus {
      background: darken($color-bg, 5%);
      color: lighten($color-bg, 30%);
    }

    &:active {
      color: #fff;
    }

    svg {
      display: inline-block;
      width: 0.75em;
      height: 0.75em;
    }
  }



  .main-links {
    flex: 1;
  }
}

@media screen and (min-width: 30em) {
  header {
    display: flex;
    nav {
      display: flex;
    }
  }
}
