header {
  display: flex;
  flex-direction: column;

  text-align: center;
  background: darken($color-bg, 5%);

  font-size: 2em;
  font-family: $font-titles;
  line-height: 1;

  a, button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.75rem 1rem;
    margin: 0;
    position: relative;

    background: inherit;
    color: lighten($color-bg, 20%);

    transition: 0.2s ease all;

    &:hover, &:focus {
      background: darken($color-bg, 8%);
      color: lighten($color-bg, 30%);
    }

    &:active {
      color: #fff;

      svg {
        fill: white;
      }
    }

    span {
      display: block;
      margin-left: 0.5rem;
    }
  }

  svg {
    width: 1em;
    height: 1em;
  }

  .secondary-links {
    order: -1;
    display: flex;

    a, button {
      flex: 1;
      padding: 0.25rem;
    }

    span {
      display: none;
    }

    svg {
      display: block;
      margin: 0 auto;
      width: 1.5em;
      height: 1.5em;
    }
  }

  .main-links {
    flex: 1 0 auto;
    &.off {
      display: none;
    }
  }
}

@media screen and (min-width: 30em) {
  header {
    flex-direction: row;

    .main-links {
      display: flex;
      &.off {
        display: flex;
      }
      span {
        display: none;
      }
    }

    .secondary-links {
      order: 1;

      a {
        flex: initial;
        flex-shrink: 0;
        padding: 0.5rem 1rem;
      }

      button {
        display: none;
      }

      svg {
        width: 1em;
        height: 1em;
      }
    }
  }
}

@media screen and (min-width: 48em) {
  header .secondary-links span {
    display: block;
  }
}

@media screen and (min-width: 64em) {
  header .main-links span {
    display: block;
  }
}
