.match-container {
  margin: 0 0 1rem;
  font-size: 0.875rem;
}
.match {
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  vertical-align: middle;

  th {
    font-size: .75rem;
    font-weight: normal;
    text-align: center;
    line-height: 1;
  }

  td {
    border: 2px solid lighten($color-bg, 5%);
  }

  .when {
    font-family: $font-text;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;

    padding: 0.5rem;
    .date {
      font-size: 2em;
    }
  }

  .team {
    padding: 0.5rem;
    text-align: left;
  }
}

@media screen and (min-width: 48em) {
  .matches {
    display: flex;
    flex-wrap: wrap;
    .match-container {
      width: 50%;
      padding: 1em;
    }
  }
}

@media screen and (min-width: 64em) {
  .matches .match-container {
    width: 33.3333333%
  }
}

@media screen and (min-width: 80em) {
  .matches .match-container {
    width: 25%
  }
}
