.scoreboard-container {
  width: 100%;
  max-width: 30em;
  margin: 0 auto 1em;
}

.scoreboard {
  font-size: 0.875em;
  text-align: center;
  line-height: 1;

  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  vertical-align: middle;
  margin: 0.5em 0;

  td {
    border: 2px solid lighten($color-bg, 5%);
    padding: 0.5rem;

    &.actions {
      display: table-cell;
      padding: 0;
      border: none;
      width: 2.5rem;

      svg {
        display: block;
        margin-left: 0.5rem;
      }

      &.on svg {
        fill: white;
      }
    }
  }

  .name {
    text-align: left;
  }
}
