.btn {
  width: 100%;
  padding: 0.5em;
  margin: 0.75em auto;
  background-color: $color-button;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;

  max-width: 32em;

  color: #000;
  display: block;
  text-decoration: none;

  &:hover, &:focus {
    background-color: darken($color-button, 10%);
  }

  &:active {
    color: #000;
  }
}

.btn-med {
  display: inline-block;
  background-color: $color-warning;
  color: #000;
  text-decoration: none;
  height: 2.25rem;
  padding: 0.15rem;
  margin: 0.35rem 0 0.2rem;
  width: 6.5em;
  border-radius: $border-radius;

  &:hover, &:focus {
    background-color: darken($color-warning, 10%);
  }

  span {
    display: inline-block;
    position: relative;
    top: 0.6em;

    font-size: 0.75em;
    text-transform: uppercase;

    line-height: 1;
    margin: 0;
    padding: 0;
  }

  svg {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    fill: #000;
  }
}

.btn-big {
  font-family: $font-titles;
  font-size: 3em;
  line-height: 1;
  text-decoration: none;

  display: block;
  padding: 0.5rem;
  margin: 1rem 0;

  border-radius: $border-radius;

  background-color: lighten($color-bg, 5%);
  transition: 0.2s ease all;

  &:hover, &:focus {
    background-color: lighten($color-bg, 10%);
  }
}

.btn-danger {
  background-color: $color-danger;
  color: #fff;

  svg {
    fill: #fff;
  }

  &:hover, &:focus {
    background-color: darken($color-danger, 10%);
  }

  &:active {
    color: #fff;
  }
}
