.list {
  width: 100%;
  max-width: 48em;
  margin: 1em auto 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;

  text-align: center;
  line-height: 1;

  .main {
    padding: 0.5rem;
    flex: 1;
  }

  .name {
    color: #ffffff;
  }

  .email {
    font-size: 0.75em;
  }

  .actions {
    margin: 0 0.5em;
    width: 15em;
  }
  .status {
    margin: 0 0.5em;

    span {
      display: inline-block;
      height: 2.25rem;
      padding: 0.15rem;
      margin: 0.35rem 0 0.2rem;
      border-radius: $border-radius;

      background: $color-bg;
    }
    svg {
      display: block;
      margin: 0;
      padding: 0;
      fill: lighten($color-bg, 5%);
    }

    .on {
      background: darken($color-bg, 5%);
      svg {
        fill: $color-fg;
      }
    }
  }
}


@media screen and (min-width: 40em) {
  .item {
    flex-direction: row;
    text-align: left;
    background: lighten($color-bg, 5%);
    margin: 0 0 0.25em;
  }
}
