@import "https://cloud.typography.com/671958/6159952/css/fonts.css";
@import "vendor/normalize";

body {
  font: 16px/1.4 "Ideal Sans SSm A", "Ideal Sans SSm B", "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #134e34;
  color: #81f1c2;
}

a {
  color: #fff;
}

h1, h2, h3 {
  font-family: "Tungsten A", "Tungsten B", Arial, Helvetica, sans-serif;
  line-height: 1;
}
