@import "https://cloud.typography.com/671958/6159952/css/fonts.css";
@import "variables";
@import "vendor/normalize";

body {
  font: 16px/1.4 "Ideal Sans SSm A", "Ideal Sans SSm B", "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: $color-bg;
  color: $color-fg;
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
}

h1, h2, h3 {
  font-family: "Tungsten A", "Tungsten B", Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}
