$color-bg: #134e34;
$color-fg: #81f1c2;

$color-button: #38E79A;
$color-warning: #FFBA24;
$color-danger: #d94b33;

$color-facebook: #34599c;

$border-radius: 0.25rem;

$font-text: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-titles: "Tungsten A", "Tungsten B", Arial, Helvetica, sans-serif;
