$color-bg: #134e34;
$color-fg: #81f1c2;

$color-button: #38E79A;

$color-facebook: #34599c;

$border-radius: 0.25rem;

$font-text: "Ideal Sans SSm A", "Ideal Sans SSm B", "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-titles: "Tungsten A", "Tungsten B", Arial, Helvetica, sans-serif;
