@import "base";
@import "modules/forms";

h1 {
  font-size: 5em;

  padding-bottom: 0.25rem;
  margin-bottom: 0.75rem;
  border-bottom: 0.25rem solid darken($color-fg, 35%);
}

h2 {
  font-size: 2em;
}

main {
  width: 90%;
  max-width: 25em;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

.facebook {
  padding: 0.5em;
  display: block;
  background: $color-facebook;
  max-width: 16em;
  text-decoration: none;
  border-radius: $border-radius;
  margin: 1em auto;
  transition: background-color 0.2s ease;

  &:hover, &:focus {
    background-color: darken($color-facebook, 5%);
  }
}
